* {
    box-sizing: border-box;
}

main {
    margin: none;
}

.container {
    display: block;
    width: 80%;
    margin: auto;
}

.block {
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

.block1 {
    background-color: yellow;
}

.block2 {
    background-color: yellowgreen;
}

.block3 {
    background-color: orange;
}

.block4 {
    background-color: brown;
}