* {
    box-sizing: border-box;
}

.container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.finale {
    background-color: aqua;
    width: 25%;
}

.demi {
    background-color: yellow;
    width: 50%;
}

.quart {
    background-color: purple;
    width: 75%;
}

.huitieme {
    background-color: red;
    width: 100%;
}
