/* general */

* {
    box-sizing: border-box;
}

.box:nth-child(even) {
    background-color: #001f33;
}

.box:nth-child(odd) {
    background-color: #007ccc;
}

.box {
    color: #ffffff;
    margin: 10px;
}

.box h2 {
    text-align: center;
    text-decoration: underline;
}

h1 {
    text-align: center;
}

/* PC */
@media screen and (min-width:920px){
.container {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}

.left-box {
    grid-column: 1/2;
}

.center-box-container  {
    display: grid;
    grid-column: 2/4;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: none;
}

.right-box {
    grid-column: 4/5;
}

h1 {
    color: #ff0000;
}
}

/* tablet */
@media screen and (max-width:920px){
    body {
        background-color: green;
    }

    h1 {
        color:white;
    }

    .left-box {
        display: none;
    }
    .right-box {
        display: none;
    }

    .center-box-container  {
        display: grid;
        grid-template-rows:repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

/* mobile */
@media screen and (max-width:640px){
    body {
        background-color: orange;
    }
    
    h1 {
        color:pink;
    }

    .left-box {
        display: none;
    }
    .right-box {
        display: none;
    }

    .center-box-container  {
        display: grid;
        grid-template-rows:repeat(4, 1fr);
        grid-template-columns: none;
    }

    ul {
        display: inline-block;
        text-align: left;
    }

    .box {
        text-align: center;
    }
}