* {
    box-sizing: border-box;
}

.container {
    display:grid;
    grid-template-columns: 2fr 5fr 2fr;
    width: 100vw;
    height: 100vh;
}

.side-box {
    margin: 0px 4px 0px 4px;
    border: 1px solid black;
    background-color: #5a5959;
}

.main-box {
    display:grid;
    grid-template-rows: 2fr repeat(1fr, 10);
}

.title-box {
    border: 1px solid black;
    background-color: #808080;
    margin: 0px 0px 5px 0px;
}

.content-box {
    background-color:#ffffff;
    border: 1px solid black;
}


